
body {
  background-color: rgb(32, 31, 31);
  color: white;
}
div{
  vertical-align:middle;
  height: 100%;
  text-align: center;
}
.gamebutton{
  margin: auto;
}
.rock,
.scissors,
.paper {
  margin: auto;
  padding: 0px;
  border: none;
  margin-right: 20px;
  background-color: rgb(32, 31, 31);
  cursor: pointer;
}
.reset {
  margin: auto;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  border: none;
  border-radius: 25px;
  background-color:rgb(156, 204, 251);
  color: aliceblue;
  cursor: pointer;
}
img {
  background-color: rgb(32, 31, 31);
  margin: 0px;
  padding: 0px;
  border: 5px solid white;
  border-radius: 50px;
  color: rgb(32, 31, 31);
}
